body{
    background-image: url(./img/fondo2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Noto Sans', sans-serif;
    
}

h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-top: 2rem;
    margin-bottom: 0;
}

.container{
    display: grid;
    height: 100vh;   
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    justify-items: center;
    align-content: center;
}

@media (max-width: 700px) {
    .container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        height: auto;   
        gap: 1rem;
        padding: 1rem;
    }
}

.box{
    background: white;
    color: black;
    height: 150px;
    width: 160px;
    padding: 0 0 0.8rem 0;
    padding-top: 0;
    border: 1px solid white;
    border-radius: 1rem;
    text-align: center;
    position: relative;

}

.box h3 {
    background: black;
    color: white;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 8px 0;
    border-radius: 1rem 1rem 0 0;
}

.box ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem 0.5rem;
    text-align: left;
    font-weight: 600;
}

.box li img {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    align-items: flex-start;
}

.box .face{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 0.6s;
    border: 1px solid white;
    border-radius: 1rem;

}

.box .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border-radius: 1rem;
    border: 1px solid white;
}

.box .back{
    transform: perspective(600px) rotateY(180deg);
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box .back h3{
    margin: 0;
    padding: 8px 0;
}

.box .back img{
    margin: 0;
    background: white;
    color: black;
    height: 90px;
    width: 100%;
}

.box .back p{
    margin: 0;
    padding: 0 0.5rem 0.3rem;
    font-weight: 600;
    text-align: center;
}

.box:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.box:hover .back{
    transform: perspective(600px) rotateY(360deg);
}