body{
    background-image: url(./img/fondo2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Noto Sans', sans-serif;
    
}

.container{
    display: grid;
    height: 100vh;   
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
    justify-items: center;
    align-content: center;
}

@media (max-width: 700px) {
    .container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        height: auto;   
        gap: 1rem;
        padding: 1rem;
    }
}

.box{
    background: white;
    color: black;
    height: 150px;
    width: 160px;
    padding: 0 0 0.8rem 0;
    padding-top: 0;
    border: 1px solid white;
    border-radius: 1rem;
    text-align: center;
    position: relative;

}

.box h3 {
    background: black;
    color: white;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 8px 0;
    border-radius: 1rem 1rem 0 0;
}

.box ul {
    list-style: none;
    margin: 0;
    padding: 0.5rem 0.5rem;
    text-align: left;
    font-weight: 600;

}

.box li img {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    align-items: flex-start;
}